.container {
    margin: 0 auto;
    padding: 0 40px;
    max-width: 1440px;
  }
  
  @media (max-width <= 768px) {
    .container {
        padding: 0 15px;
    }
  }
  
  .filter__car {
   display: flex;
  //  flex-wrap: wrap;
   gap: 10px;
   padding: 10px;
   margin: 50px 0;
   border: 1px solid #FFFFFF40;
   border-radius: 30px;
  }

  .filter__title {
      color: #fff;
      font-size: 7vw;
      max-width: 1360px;
      margin: 0 auto;
      padding: 0 0 60px;
    }

    @media screen and (width >= 1920px) {

      .filter__title {
        font-size: 100px;
      }
      }

    @media screen and (width <= 600px) {
      .car__catalog__title {
          font-size: 13vw;
          padding: 0 0 40px 20px;
        }
      }


  .filter__item {
   padding: 9px 20px 9px 20px;
   background-color: #fff;
   border-radius: 30px;
   color: #000;
  }

  input.filter__input {
   border: 1px #000 solid;
   border-radius: 30px;
   width: 100%;
   padding: 9px 4px 9px 40px;
    background: url(/input.svg) no-repeat 13px center;
 }

 input.filter__input:hover {
  border: 1px #fff solid;
  
}

 .catalog__tags {
  max-width: 1340px;
  flex-wrap: wrap;
   display: flex;
   gap: 10px;
 }

 .catalog__tags button {
   padding: 9px 20px;
   border-radius: 30px;
   border: 1px solid #FFFFFF40;
 }

 .catalog__tags button:hover {
  background-color: #fff;
  color: #000;
}

  .catalog__car {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: space-between;
   }

   @media screen and (width >= 1920px) {
    .car__catalog__title {
        font-size: 100px;
      }
      .wrapper .carousel{
        grid-auto-columns: calc(20%);
      }
    }
   
   @media (max-width: 500px) {
    .catalog__car {
       flex: 1 0 100%;
    }
   }
   
   @media (min-width: 501px) and (max-width: 800px) {
    .catalog__car {
       flex: 1 0 calc(50% - 2rem);
    }
   }
   
   @media (min-width: 801px) {
    .catalog__car {
       flex: 1 0 calc(33.33% - 2rem);
    }
   }

   
   @media (max-width: 768px) {
    .container {
      padding: 0 20px;
    }
    .filter__car {
      flex-wrap: wrap;

     }
     
   }