#footer {
    padding: 40px 0;
  }
  
  .footer__container {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  
  .footer__item {
    display: grid;
    align-content: space-between;
    height: 21vw;
    padding: 40px;
    border: 1px solid #FFFFFF40;
    border-radius: 30px;
  }
  
  .footer__item__name {
    color: #fff;
    font-size: 32px;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .footer__item__name img {
  width: 20px;
  height: 15px;
  }
  
  @media (width <= 1024px) {
    .footer__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    .footer__item {
        height: 32vw;
    }
  }

@media (width <= 768px) {
    .footer__item {
        height: 175px;
        padding: 20px;
    }

    .footer__item__name {
        font-size: 16px;
    }

    .icone {
        width: 43px;
        height: 43px;
    }
  
  }
  