$color_1: #000;
$color_2: #CEEF8F;
$background-color_1: #CEEF8F;
$background-color_2: black;

.container {
    margin: 0 auto;
    padding: 0 40px;
    max-width: 1440px;
  }
  
  @media (width <= 768px) {
    .container {
        padding: 0 15px;
    }
  }

.info__main {
	padding-top: 60px;
}
.info__container {
	background-color: $background-color_1;
	padding: 40px;
	border-radius: 40px;
	max-width: 1360px;
}
.info__title {
	h1 {
		color: $color_1;
		font-size: 100px;
		max-width: 1150px;
	}
}
.info__block {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	gap: 10px;
}
.info__block__btn {
	width: 188px;
	height: 60px;
	padding: 20px 40px;
	color: $color_2;
	background-color: $background-color_2;
	border-radius: 50px;
}
.info__br {
	display: none;
}
.info__none {
	display: none;
	width: 188px;
	height: 60px;
	padding: 20px 40px;
	color: $color_2;
	background-color: $background-color_2;
	border-radius: 50px;
}
.info__block__right {
	p {
		color: $color_1;
		font-size: 24px;
		line-height: 30px;
		max-width: 560px;
		padding: 100px 0 30px;
	}
}
.info__block__right__images {
	display: flex;
	gap: 10px;
	img {
		max-width: 28vw;
	}
}
@media (width <= 768px) {
	.car_none {
		display: none;
	}
	.info__block__right__images {
		img {
			max-width: none;
			width: 100%;
		}
	}
}
@media (width <= 568px) {
	.info__none {
		display: block;
	}
	.info__block__btn {
		display: none;
	}
	.info__br {
		display: block;
	}
	.info__block__right__images {
		flex-wrap: wrap;
		padding-top: 150px;
	}
	.info__block__right p {
		padding: 20px 0 0 0;
	}
	.info__container {
		padding: 20px;
	}
	.info__block {
		gap: 0;
	}
	.info__title {
		h1 {
			font-size: 12vw;
		}
	}
}
