:root {
  --black: #000;
  --white: #fff;
  --border: #ffffff40;
  --grey: #fff6;
  --grey-light: #ffffffe6;
  --grey-100: #fff6;
  --grey-200: #ffffff14;
  --primary: #ceef8f;
  --error: #ff453a;
  --input: #191919;
}

@font-face {
  font-display: auto;
  font-family: 'DM sans';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/DMSans-Regular.woff2') format('woff2');
}

@font-face {
  font-display: auto;
  font-family: 'DM sans';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/fonts/DMSans-Bold.woff2') format('woff2');
}